<!--<mat-toolbar color="primary" [style.paddingLeft] = "barPaddingLeft">-->
    <app-header [status]="status" [paddingLeft] ="barPaddingLeft" (toggle)="toggle($event)">Open</app-header>
<!--</mat-toolbar>-->

<div class="sidenav" [style.width] = "sideNavWidth">
    <app-sidenav [status]="status" (toggle)="toggle($event)"></app-sidenav>
</div>

<div class="page-container" [style.paddingLeft] = "barPaddingLeft">
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
</div>




