mat-sidenav {
    visibility: visible !important;
}

.page-container {
    margin-top: 50px;
    transition: padding-left .5s;
}

.mat-drawer {
    transform: translate3d(calc(-100% + 50px),0,0);
}

.page-content {
    padding: 10px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

