<div class="example-container mat-elevation-z4">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>

                <ng-content select="[form-title]"></ng-content>

            </mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <ng-content select="[form-body]"></ng-content>

        </mat-card-content>
        <mat-card-actions>

            <ng-content select="[form-actions]"></ng-content>

        </mat-card-actions>
    </mat-card>
</div>
