// Components

.paper-shadow {
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.paper-toolbar {
    color: #fff;
    background: #ffffff;
}

.app-bar, .navdrawer-container, main {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.app-bar {
    transition: width .5s;
    display: flex;
    justify-content: space-between;
    // width: 100%;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    .logo {
        font-size: 1.3em;
        margin: 0 16px;
        padding: 0;
        color: #7a7a7a;
        font-weight: lighter;
        max-width: none;
        line-height: 48px;
        img {
            height: 38px;
            vertical-align: top;
        }
    }
}