
<!--<Button (click)="toggleMenu()"></Button>-->
<header class="app-bar promote-layer paper-toolbar paper-shadow" [style.width]="'calc(100% - ' + paddingLeft + ')'">

    <h1 class="logo"><img src="url(../../../../../assets/img/emate_logo.png"> - <b>Angular Course</b> (v6.0+)</h1>

</header>
