<div class="datatable-container">

    
    <div class="datatable-header">
        <mat-form-field floatPlaceholder="never">
            <input matInput #filter placeholder="Filtra risultati">
        </mat-form-field>
        <button mat-fab color="accent" (click)="editItem(null)"><mat-icon>add</mat-icon></button>
    </div>

    <!-- Table -->
    <table mat-table class="datatable mat-elevation-z4" [dataSource]="dataSource" matSort>

        <div *ngFor="let column of columns">
            <ng-container matColumnDef="{{column.data}}">
                <!-- Table Header -->
                <mat-header-cell *matHeaderCellDef
                                 mat-sort-header> 
                                 {{column.label}} 
                </mat-header-cell>
                <!-- Table Body -->
                <mat-cell *matCellDef="let row"
                          [style.maxWidth]="column.label==='Opzioni'?'100px':''"
                          [style.textAlignLast]="column.label==='Opzioni'?'end':''"> 
                          {{row[column.data]}}
                </mat-cell>
            </ng-container>
        </div>

        <mat-header-row *matHeaderRowDef="columnValues"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnValues;" (click)="editItem(row)"></mat-row>

    </table>

    <div class="example-no-results" [style.display]="dataSource.renderedData.length===0?'':'none'">Nessun risultato trovato</div>

    <mat-paginator class="mat-elevation-z4" #paginator
                   [length]="dataSource.filteredData.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 25, 100]">
    </mat-paginator>
</div>
