.sidenav-layout{
    height: 100%;
    overflow: hidden;
    background-color: #e2e2e2;
    box-shadow: inset 0 0 15px rgba(0,0,0,.26);
}

.sidenav-icon {
    cursor:pointer;
    text-align: center;
    margin: 13px;
    color: #878787;
}

.sidenav-link {
    min-width: 250px;
    height: 50px;
    color:#b0b0b0;
    cursor: pointer;
}

.sidenav-link:hover {
    background-color: rgba(0,0,0,.1);
}

.bookmark {
    height: 50px;
    width: 5px;
    float: left;
    border-radius: 5px;
}

.sidenav-icon-link {
    margin: 13px;
    margin-left: 8px;
    float: left;
}

.sidenav-label {
    font-size: 16px;
    margin: 15px 5px;
    float: left;
}

.active {
    color:rgb(117, 117, 117);
    outline: none;
    .bookmark {
        background-color: rgb(117, 117, 117);
    }
}

////////////
// old css
////////////
.sidebar-logo {
    background-position: center;
    background-size:150%;
    height:200px;
    width:100%;
    position:relative;
}

.sidebar-user {
    height: 30%;
    width: 100%;
    position:absolute;
    bottom:0;
    background: linear-gradient(transparent, white); /* Standard syntax */
    padding-top: 30px;
}

.sidebar-span {
  color: #2f4050;
  font-size: 140%;
  margin-left: 20px;
}

.sidebar-icon {
  vertical-align: sub;
}

.sidebar-button {
  width: 100%;
}

.sidebar-button-content {
  float: left;
}

/* The navigation menu links */
.link-item {
    height: 50px;
    vertical-align: middle;
    font-size: 15px;
    font-family: Roboto, Arial, sans-serif;
    color: #818181;
    display: block;
    transition: 0.3s
}
