
<div class="sidenav-layout" (mouseenter) ="toggleMenu()"  (mouseleave) ="toggleMenu()">

    <!--Icon toggle collapse/expand sidebar-->
    <mat-icon class="sidenav-icon" (click)="lockMenu()" [style.color]="lockedMenu ?'red':'inherit'">menu</mat-icon>

    <!--  vv Navigation buttons vv  -->

        <!--  vv Navigation buttons vv  -->
    <div class="sidenav-link" [routerLink]="['/pages/ex_01']" routerLinkActive="active">
        <div class="bookmark"></div>
        <mat-icon class="sidenav-icon-link">looks_one</mat-icon>
        <span class="sidenav-label"> Exercise 01 </span>
    </div>
    <div class="sidenav-link" [routerLink]="['/pages/ex_02']" routerLinkActive="active">
        <div class="bookmark"></div>
        <mat-icon class="sidenav-icon-link">looks_two</mat-icon>
        <span class="sidenav-label"> Exercise 02 </span>
    </div>
    <div class="sidenav-link" [routerLink]="['/pages/clienti']" routerLinkActive="active">
        <div class="bookmark"></div>
        <mat-icon class="sidenav-icon-link">insert_chart</mat-icon>
        <span class="sidenav-label"> Clienti </span>
    </div>

    <!-- ^^ Navigation buttons ^^ -->

</div>
