
<h1>Esercizio 1</h1>
<h2>1 - implementare il modulo select da angular material </h2> 
<h2>2 - la select deve agire sul campo "sesso" prima di effettuare il salvataggio su firebase </h2>

<mat-form-field>
    <input matInput placeholder="Nome" [(ngModel)]="cliente.nome">
</mat-form-field>
<br/>
<mat-form-field>
    <input matInput placeholder="Cognome" [(ngModel)]="cliente.cognome">
</mat-form-field>
<br/>
<mat-form-field>
    <input matInput placeholder="Comune" [(ngModel)]="cliente.comune">
</mat-form-field>
<br/>

<!-- Inserire qui il codice necessario -->




<!-- FINE -->

<button mat-raised-button color="primary" (click)="update(cliente)">Salva</button>

<h2>Risultato sul server: {{clienteControl.nome}} - {{clienteControl.cognome}} - {{clienteControl.comune}} - {{clienteControl.sesso}}</h2>